CompileFlags:
  CompilationDatabase: build/ninja
  Add:
    - -isystem
    - /usr/lib/gcc/arm-none-eabi/14.2.1/include
    - -isystem
    - /usr/lib/gcc/arm-none-eabi/14.2.1/include-fixed
    - -isystem
    - /usr/lib/arm-none-eabi/include

Diagnostics:
  UnusedIncludes: None

